.espiritos-lendarios-container {
    margin-top: 50px;
}

.espiritos-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.espiritos-coluna {
    text-align: center;
}

.espiritos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.espirito-card {
    background-color: #1a1a1a;
    border: 2px solid gold;
    border-radius: 12px;
    padding: 6px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px gold;
}

.espirito-card img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}