 <div class="vs-section">
            <div class="player-info">
                <div class="personagem-nome-botao">
                    <img src="{{ icone_classe1 }}" alt="Classe de {{ nome1 }}" class="icon-classe-mini">
                    <strong>{{ nome1 }}</strong>
                    
                    <p>
                        ⭐ Level: {{ level1 }} <br> ⚡ Poder: {{ power1 }}<br>
						🌐 Servidor: {{ servidor1 }}
                    </p>
                    
                    <!-- Container do preço WEMIX - REDESIGN -->
                    <div class="wemix-container">
                        <div class="wemix-value">
                            <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/7548.png" alt="WEMIX" class="wemix-icon">
                            <span class="wemix-amount">{{ preco1 }}</span>
                        </div>
                        <div class="wemix-label">Valor em WEMIX</div>
                    </div>
                    
                    <!-- Botão XDRACO - REDESIGN -->
                    <a class="xdraco-button" href="https://www.xdraco.com/nft/trade/{{ id1 }}" target="_blank">
                        Ver no XDRACO
                    </a>
                </div>
            </div>
            
            <div class="vs-text">VS</div>
            
            <div class="player-info">
                <div class="personagem-nome-botao">
                    <img src="{{ icone_classe2 }}" alt="Classe de {{ nome2 }}" class="icon-classe-mini">
                    <strong>{{ nome2 }}</strong>
                    
                    <p>
                        ⭐ Level: {{ level2 }} <br> ⚡ Poder: {{ power2 }}<br>
						🌐 Servidor: {{ servidor2 }}
                    </p>
                    
                    <!-- Container do preço WEMIX - REDESIGN -->
                    <div class="wemix-container">
                        <div class="wemix-value">
                            <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/7548.png" alt="WEMIX" class="wemix-icon">
                            <span class="wemix-amount">{{ preco2 }}</span>
                        </div>
                        <div class="wemix-label">Valor em WEMIX</div>
                    </div>
                    
                    <!-- Botão XDRACO - REDESIGN -->
                    <a class="xdraco-button" href="https://www.xdraco.com/nft/trade/{{ id2 }}" target="_blank">
                        Ver no XDRACO
                    </a>
                </div>
            </div>
        </div>